# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
.env

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Packaging
build/
dist/
*.egg-info/

# IDE/OS
.DS_Store

*.csv
*.dat
*.DAT
*.xls
*.xlsx
*.mp4
*.MP4
*.gpx
*.mov
*.MOV
*.zip
*.tar.gz
*.log
*.bak
*.tmp
